@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper px-4 py-3">
        <div class="card shadow-sm">
            <div class="card-header bg-gradient-dark text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0">InBox</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Sender</th>
                                <th>Subject</th>
                                <th colspan="3">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var exp in Model)
                            {
                                <tr>
                                    <td>@exp.SenderMail</td>
                                    <td>@exp.Subject</td>

                                    <td>
                                        <a asp-action="GetInboxMessageDetails" asp-route-id="@exp.Id" class="btn btn-warning btn-sm">Details</a>
                                    </td>

                                    <td>
                                        <a asp-action="DeleteInBox" asp-route-id="@exp.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br/>
                    <div class="form-group text-center">
                        <a href="/AdminMessage/NewMessage/" class="btn btn-primary">New Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

